.button {
  padding: 10px 20px;

  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;

  background-color: var(--primary);

  font-size: 20px;
  color: var(--light);

  cursor: pointer;

  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-light);
}

.button:focus {
  background-color: var(--primary-light);
}
