.container {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 1400px;
  height: 100vh;

  padding: 30px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

@media (max-width: 1440px) {
  .container {
    padding: 0;
  }
}
