.layout {
  position: relative;
  width: 100%;
  height: 100vh;

  background-color: var(--light);
}

.layout::after {
  content: '';
  display: block;
  height: 20%;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  background-color: var(--primary);
}

@media (max-width: 1440px) {
  .layout::after {
    content: none;
  }
}
